.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 35px;
  background-color: white;
  width: 60%;
  height: 60px;
  position: fixed;
  top: 35px;
  left: 50%; /* Centrado horizontal */
  transform: translateX(-50%); /* Ajuste visual exacto */
  border-radius: 200px;

  box-shadow: 18px 18px 35px #d4d4d4, -18px -18px 35px #ffffff;
  z-index: 1000;
}

.logo {
  height: 105px;
  object-fit: contain;
  user-select: none;
}

.right-content {
  display: flex;
  align-items: center;
  gap: 25px;
  margin-left: auto;
}

.links-container {
  display: flex;
  align-items: center;
  gap: 25px;
  position: relative;
}

.nav-link {
  color: #535353;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  position: relative;
  padding: 5px 0;
  user-select: none;
}

.nav-link:hover {
  color: #b31217;
}

.active-line {
  position: absolute;
  bottom: -2px;
  height: 2px;
  background-color: #b31217;
  transition: all 0.3s ease;
}

.logout-button {
  background: none;
  border: none;
  font-size: 16px;
  font-weight: 600;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  gap: 4px;

  /* Gradiente rojo como color de texto */
  background-image: linear-gradient(to right, #b31217, #e52d27);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
